<div class="title">
  <h1>940</h1>
</div>

<div class="subtitle">
  <p>ONLINE RIGHT NOW</p>
  <hr class="big-hr">
</div>
<div>
  <table class="mapTable">
    <tr>
      <th>ACCOUNTS</th>
      <th>PROJECTS CREATED</th>
      <th>USERS ADDED</th>
    </tr>
    <tr>
      <td colspan='3'><hr class="small-hr"></td>
    </tr>
    <tr title="Daily Stats" class='large-tr'>
      <td>31</td>
      <td>
        52<div class="arrow-left"></div>
      </td>
      <td>109</td>
    </tr>
<!-- Hidden table -->
    <tr class="hidden">
      <td colspan='3'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td colspan='2' class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='3'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td colspan='2' class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='3'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td colspan='2' class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='3'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td colspan='2' class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
<!-- End hidden table -->
    <tr>
      <td colspan='3'><hr class="small-hr"></td>
    </tr>
    <tr title="Total Stats" class="secondRow">
      <td>829</td>
      <td>1,765</td>
      <td>2,810</td>
    </tr>
    <tr>
      <td colspan='3'><hr class="small-hr"></td>
    </tr>
    <tr title="Previous Month Stats" class="thirdRow">
      <td>785</td>
      <td>1,543</td>
      <td>2,891</td>
    </tr>
  </table>
</div>
