<div class="title">
  <h1>940</h1>
</div>

<div class="subtitle">
  <p>ONLINE RIGHT NOW</p>
  <hr class="big-hr">
</div>
<div>
  <table class="mapTable">
    <tr>
      <th>DOWNLOADS</th>
      <th>DOCUMENTS DOWNLOADED</th>
    </tr>
    <tr>
      <td colspan='2'><hr class="small-hr"></td>
    </tr>
    <tr title="Daily Stats" class='large-tr'>
      <td>64</td>
      <td>
        4,901,921<div class="arrow-left"></div>
      </td>
    </tr>
<!-- Hidden table -->
    <tr class="hidden">
      <td colspan='2'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='2'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='2'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
    <tr class="hidden">
      <td colspan='2'><div class="hiddenHr"><hr class="small-hr"></div></td>
    </tr>
    <tr>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>Jane Cull</b><br>
          <p>Cull & Cull Sons LLP</p>
          <p>US - Berkeley, CA</p>
        </div>
      </td>
      <td class='hiddenTd'>
        <div class="hiddenDiv">
          <b>4.38 GB</b>
          <p>23,121 Docs</p>
        </div>
      </td>
    </tr>
<!-- End hidden table -->
    <tr>
      <td colspan='2'><hr class="small-hr"></td>
    </tr>
    <tr title="Total Stats" class="secondRow">
      <td>3,912</td>
      <td>68,023,293</td>
    </tr>
    <tr>
      <td colspan='2'><hr class="small-hr"></td>
    </tr>
    <tr title="Previous Month Stats" class="thirdRow">
      <td>3,781</td>
      <td>66,192,931</td>
    </tr>
  </table>
</div>
