html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
.overlay {
  position:absolute;
  background-color: rgba(0,0,0,0.2);
  z-index:100;
  height:100%;
  left:50%;
  width:900px;
  margin-left:-450px;
  overflow-y:scroll;
}
.overlayContainer {
  position:absolute;
  top:50%;
  width:100%;
  height:800px;
  margin-top:-430px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
#toggleStats {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 101;
  background-color: rgba(0,0,0,0.3);
  display:inline-block;
  color:#ffffff;
  font-family:sans-serif;
  font-size:13px;
  font-weight:bold;
  padding:6px 11px;
  text-decoration:none;
  border:none;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}
 #toggleStats:hover {
   background-color: rgba(0,0,0,0.6);
}
.title {
  text-align:center;
  font-family:sans-serif;
  font-size:65pt;
  text-shadow: 1px 1px 2px #000000;
  color:white;
  margin-top:100px;
}
.subtitle {
  text-align:center;
  font-family:sans-serif;
  font-size:25pt;
  font-weight:bold;
  text-shadow: 1px 1px 2px #000000;
  color:white;
  margin-top:-105px;
}
/* Gradient transparent - color - transparent */
.big-hr {
  border: 0;
  height: 1px;
  width: 90%;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}
/* Gradient transparent - color - transparent */
.small-hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}
table.mapTable{
  color:white;
  border-collapse:collapse;
  width: 70%;
  height: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 40px;
  text-align:center;
}
.mapTable th {
  font-family:sans-serif;
  font-size:18pt;
  text-shadow: 1px 1px 2px #000000;
  text-align:center;
}
.mapTable tr {
  font-family:sans-serif;
  text-shadow: 1px 1px 2px #000000;
}
.large-tr {
  font-size:40pt;
  font-weight:bold;
  font-family: sans-serif;
  text-shadow: 1px 1px 2px #000000;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}
.large-tr:hover {
  background-color: rgba(6,120,201,0.4);
}
.large-tr > td:first-child {
  border-radius: 8px 0 0 8px;
  -moz-border-radius: 10px 0 0 10px;
}
.large-tr > td:last-child {
  border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
}
.hidden {
  display:none;
}
.hiddenDiv {
  margin-top:10px;
  display:none;
  line-height:1px;
}
.hiddenDiv b {
  font-size:17px;
}
.hiddenDiv p {
  font-size:13px;
}
.emptyTd {
  display:none;
}
.hiddenTd:nth-child(odd){
  text-align:left;
}
.hiddenTd:nth-child(even){
  text-align:right;
}
.hiddenHr {
  display:none;
  margin-top:-5px;
  margin-bottom:-5px;
}
.secondRow {
  font-size:30pt;
  opacity: 0.8;
}
.thirdRow {
  font-size:30pt;
  opacity: 0.4;
}
.status-icon {
  opacity: 0.8;
}
.status-icon.green {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,255,255,0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -ms-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.status-icon.red {
}
#footer {
  text-align:center;
  font-family:sans-serif;
  font-size:10pt;
  opacity: 0.2;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid white;
  transition:width .3s, height .3s;
  -webkit-transition:width .3s, height .3s, -webkit-transform .3s;
  position:absolute;
  left:728px;
  top:510px;
}
.arrow-left:hover, .arrow-left.hovered {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);

  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}

/*=====================
 navbar
======================*/

.nav-wrap {
  background-color: transparent;
  font-family:sans-serif;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-234px;
  z-index:102;
}
#links {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 450px;
}
#links li {
  display: inline;
}
#links li a {
  color: rgba(255,255,255,0.5);
  font-size: 15px;
  display: block;
  float: left;
  padding: 6px 10px 4px 10px;
  text-decoration: none;
  font-weight:bold;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}
#links li a:hover {
  color: white;
}

/*=====================
 scrollbar
======================*/

.overlay::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.overlay::-webkit-scrollbar-track {
  background-color: rgba(113,112,107,0.0);
  -webkit-border-radius: 5px;
}
.overlay::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 6px;
}
.overlay::-webkit-scrollbar-thumb:vertical:hover,
.overlay::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgba(255,255,255,0.5);
}
.overlay::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0,0,0,.2);
  -webkit-border-radius: 6px;
}

