<!DOCTYPE html>
<html>
  <head>
    <title>
      CullBoard
    </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.15&amp;sensor=false" type="text/javascript"></script>
    <%= stylesheet_link_tag    "map_stylesheet", media: "all", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="overlay">
      <div class="overlayContainer">
        <%= yield %>
        <div id="footer">
          <h3>THE CULL BOARD V.1</h3>
        </div>
      </div>
    </div>
    <div class="nav-wrap">
      <ul class="group" id="links">
        <li><a href="/">HOME</a></li>
        <li><a href="/maps/accounts">ACCOUNTS</a></li>
        <li><a href="/maps/uploads">UPLOADS</a></li>
        <li><a href="/maps/downloads">DOWNLOADS</a></li>
      </ul>
    </div>
    <div>
      <button id="toggleStats">Toggle Stats</button>
    </div>
    <%= javascript_include_tag "map", "data-turbolinks-track" => false %>
    <div id="map-canvas"></div>

  </body>
</html>
